@font-face {
  font-family: "iconfont"; /* Project id 2971074 */
  src: url('//at.alicdn.com/t/font_2971074_pd6vzg2xdy.woff2?t=1638090177704') format('woff2'),
       url('//at.alicdn.com/t/font_2971074_pd6vzg2xdy.woff?t=1638090177704') format('woff'),
       url('//at.alicdn.com/t/font_2971074_pd6vzg2xdy.ttf?t=1638090177704') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lingxing:before {
  content: "\e62e";
}

.icon-leijishufuwux:before {
  content: "\e696";
}

.icon-yingxiao:before {
  content: "\e765";
}

.icon-ditu:before {
  content: "\e64e";
}

.icon-icon-test:before {
  content: "\e62d";
}

.icon-yuan:before {
  content: "\e660";
}

.icon-zhaochengguo:before {
  content: "\e689";
}

.icon-tuceng:before {
  content: "\e60f";
}

.icon-balance-full:before {
  content: "\e87a";
}

.icon-weibiaoti1:before {
  content: "\e650";
}

.icon-houmenjiance:before {
  content: "\e699";
}

.icon-kehuishouwu-feizhilei:before {
  content: "\e640";
}

.icon-zhengfufeiyinglijigou:before {
  content: "\e609";
}

.icon-jigou:before {
  content: "\e6ae";
}

.icon-ren:before {
  content: "\e643";
}

.icon-chengshi:before {
  content: "\ec70";
}

.icon-zhengce:before {
  content: "\e619";
}

.icon-chengshi1:before {
  content: "\e68a";
}

.icon-chanpin:before {
  content: "\e605";
}

.icon-fenzishi:before {
  content: "\e6a9";
}

.icon-xinnengyuan:before {
  content: "\e636";
}

.icon-lvye:before {
  content: "\e644";
}

.icon-zu:before {
  content: "\e613";
}

.icon-jienenghuanbao:before {
  content: "\e7b4";
}

.icon-dc-icon-xinxijishu:before {
  content: "\e62a";
}

.icon-shengchanzhizao:before {
  content: "\e642";
}

.icon-shuzichuangyi:before {
  content: "\e840";
}

.icon-chanyelian-shengwuyiyao:before {
  content: "\e691";
}
